name: CI - Build and Test

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25.3"
          check-latest: true

      - name: Force Go toolchain 1.25.5
        run: go env -w GOTOOLCHAIN=go1.25.5

      - name: Install dependencies
        run: go mod tidy

      - name: Build application
        run: go build ./...

      - name: Run tests
        run: go test ./... -v

      - name: Run Gosec Security Scan
        uses: securego/gosec@master
        with:
          args: ./...
